# Byte-compiled / optimized
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
_version.py

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.pytest_cache/
coverage.xml

# Generated output
COMPLIANCE.md

# Environments
.env
.venv
env/
venv/

# mkdocs
/site

# mypy
.mypy_cache/

# ruff
.ruff_cache/

# IDE
.vscode/
.idea/
